@import url(https://fonts.googleapis.com/css2?family=Pacifico&display=swap);

.pers-info-block::before {
    content: "TOP 1 IN P33111";
    font-size: 15px;
    font-weight: 500;
    margin: 30px 0;
    display: block;
}

.text-semibold {
    font-family: font-family: 'Pacifico', cursive !important;
}
