@import url(https://fonts.googleapis.com/css2?family=Pacifico&display=swap);

.pers-info-block::before {
    content: "ЗДРАВСТВУЙТЕ, Я ИСУ ВЗЛОМАЛ";
    font-size: 15px;
    font-weight: 500;
    margin: 10px 0;
    display: block;
}

#left_main_person_info {
    font-family: 'Pacifico', cursive !important;
}

.text-semibold, .padding-xs-hr.text-muted, .nav.nav-tabs.no-margin-b, .tab-content.tab-content-bordered.panel-padding {
    font-family: 'Pacifico', cursive !important;
    font-size: 150% !important;
}

.profile-photo {
    background-image: url(https://i.pinimg.com/originals/ad/1a/6c/ad1a6c9c9fec7119fb09e901d51e0412.gif) !important;
    background-size: 100% !important;
}

.profile-photo > img {
    visibility: hidden !important;
}
